<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>PrintBirka</title>
    <link rel="icon" href="/paper.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/tabs.js"></script>
    <script defer src="/js/submitFromHandler.js"></script>
</head>
<body>
<header>
    <h1 align="center"> Зона: грубо-среднее волочение </h1>
</header>

<!--id="defaultOpen"-->
<div class="tab">
    <button class="tabLinks" data-name="D">Грубое Волочение зона D</button>
    <button class="tabLinks" data-name="H">Среднее Волочение зона H</button>
    <button class="tabLinks" data-name="Master">Master</button>
</div>
<!--+ '/' + ${area} + '/' + ${millNumber} + '/' + ${materialCode}-->
<form th:action="@{'/exportToPdf'}" method="POST">
    <div style="display: flex; justify-content: left;">
        <div class="tabContent" id="D" style="align-items: center">
            <input class="text-center" type="text" th:value="D" id="areaD" name="area" hidden/>
            <div class="tabContent__element">
                <span class="text-center mt-1 tabContent__title">№ Стана:</span>
                <input class="text-center tabContent__content" type="number" th:value="${millNumber}" id="millNumberD" name="millNumber"/>
            </div>
            <div class="tabContent__element">
                <span class="text-center mt-1 tabContent__title">Код Материала:</span>
                <input class="text-center tabContent__content" type="number" th:value="${materialCode}" id="materialCodeD" name="materialCode"/>
            </div>
            <div class="tabContent__element">
                <span class="text-center mt-1 tabContent__title">Оператор:</span>
                <input class="text-center tabContent__content" type="number" th:value="${operator}" id="operatorD" name="operator"/>
            </div>
            <div class="tabContent__element">
                <span class="text-center mt-1 tabContent__title">Диаметр:</span>
                <input class="text-center tabContent__content" type="number" th:value="${diameter}" id="diameterD" name="diameter"/>
            </div>
            <div class="tabContent__element">
                <span class="text-center mt-1 tabContent__title">Плавка:</span>
                <input class="text-center tabContent__content" type="number" th:value="${melt}" id="meltD" name="melt"/>
            </div>
            <div class="tabContent__element">
                <p style="color: red" class="tabContent__content">
                    Внимание: при вводе неправильных данных - будет распечатана пустая бирка
                </p>
            </div>
            <div class="tabContent__element">
                <button class="btn btn-primary mt-1 tabContent__content" style="padding: 2px 13px" type="submit">Печать Бирки
                </button>
            </div>
        </div>
    </div>
</form>

<form th:action="@{'/exportToPdf'}" method="POST">
    <div style="display: flex; justify-content: center;">
        <div class="tabContent" id="H" style="align-items: center">
            <input class="text-center" type="text" th:value="D" id="areaH" name="area" hidden/>
            <div class="tabContent__element">
                <span class="text-center mt-1 tabContent__title">№ Стана:</span>
                <input class="text-center tabContent__content" type="number" th:value="${millNumber}" id="millNumberH" name="millNumber"/>
            </div>
            <div class="tabContent__element">
                <span class="text-center mt-1 tabContent__title">Код Материала:</span>
                <input class="text-center tabContent__content" type="number" th:value="${materialCode}" id="materialCodeH" name="materialCode"/>
            </div>
            <div class="tabContent__element">
                <span class="text-center mt-1 tabContent__title">Оператор:</span>
                <input class="text-center tabContent__content" type="number" th:value="${operator}" id="operatorH" name="operator"/>
            </div>
            <div class="tabContent__element">
                <span class="text-center mt-1 tabContent__title">Диаметр:</span>
                <input class="text-center tabContent__content" type="number" th:value="${diameter}" id="diameterH" name="diameter"/>
            </div>
            <div class="tabContent__element">
                <p style="color: red" class="tabContent__content">
                    Внимание: при вводе неправильных данных - будет распечатана пустая бирка
                </p>
            </div>
            <div class="tabContent__element">
                <button class="btn btn-primary mt-1 tabContent__content" style="padding: 2px 13px" type="submit">Печать Бирки
                </button>
            </div>
        </div>
    </div>
</form>
<form method="POST">
    <div class="tabContent" id="Master" style="align-items: center">
        <p>Some block for master</p>
    </div>
</form>

</body>
</html>